<script>
    /*<div class="row">
        <div class="col-12">
            <!-- Start Product Defautlt Single -->
           // <% if(product!==null){for (let i=0; i < Math.min(product.length, 6); i++) { %>
            <div class="product-list-single product-color--golden">
                <!-- <a href="/productDetails?id=<%= product[i]._id %>" class="image-link">
                            
                    <img class="primary-image" src="/uploads/productImages/<%= product[i].images[0] %>" style="width:300px" alt="">
                    <img class="hover-img" src="/uploads/productImages/<%= product[i].images[1] %>" style="width:300px" alt="">
                </a> -->
                <a href="/productDetails?id=<%= product[i]._id %>"
                    class="product-list-img-link">
                    <img class="img-fluid"
                    src="/uploads/productImages/<%= product[i].images[0] %>" style="width:300px"
                        alt="">
                    <img class="img-fluid"
                    src="/uploads/productImages/<%= product[i].images[1] %>" style="width:300px"
                        alt="">
                </a>
                <div class="product-list-content">
                    <h6 class="title"><a href="product-details.html"><%= product[i].name %></a></h6>
                    <ul class="review-star">
                        <li class="fill"><i class="ion-android-star"></i></li>
                        <li class="fill"><i class="ion-android-star"></i></li>
                        <li class="fill"><i class="ion-android-star"></i></li>
                        <li class="fill"><i class="ion-android-star"></i></li>
                        <li class="empty"><i class="ion-android-star"></i></li>
                    </ul>
                    <span class="old-price"><DEL>₹<%= product[i].price %></DEL></span>
                    <span class="discount-price">₹<%= product[i].discountPrice %></span>
                    <p><%= product[i].description %> </p>
                    <div class="product-action-icon-link-list">
                        <a href="#" data-bs-toggle="modal"
                            data-bs-target="#modalAddcart"
                            class="btn btn-lg btn-black-default-hover">Add to
                            cart</a>
                        <a href="#" data-bs-toggle="modal"
                            data-bs-target="#modalQuickview"
                            class="btn btn-lg btn-black-default-hover"><i
                                class="icon-magnifier"></i></a>
                        <a href="wishlist.html"
                            class="btn btn-lg btn-black-default-hover"><i
                                class="icon-heart"></i></a>
                        <a href="compare.html"
                            class="btn btn-lg btn-black-default-hover"><i
                                class="icon-shuffle"></i></a>
                    </div>
                </div>
            </div>
            <%}}%> <!-- End Product Defautlt Single -->
        </div>
        <div class="col-12">
            
        </div>
    </div>*/
    </script>