<%-include('header')-%>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');body{font-family: 'Montserrat', sans-serif}.card{border:none}.logo{background-color: #080808}.totals tr td{font-size: 13px}.footer{background-color: #eeeeeea8}.footer span{font-size: 12px}.product-qty span{font-size: 12px;color: #dedbdb}
.div-container{
    background-color: #eeeeeea8
}
</style>
<body>
<div class="container mt-5 mb-5 ">

    <div class="row d-flex justify-content-center">

        <div class="col-md-8">

            <div class="card div-container" >


                    <div class="text-left logo p-2 px-5 text-white">

                        <p>NYRA - Order confirmation</p>
                       
                        

                    </div>

                    <div class="invoice p-5">

                        <h5>Your order Confirmed!</h5>

                        <span class="font-weight-bold d-block mt-4">Hello, </span>
                        <span>You order has been confirmed and will be shipped in next two days!</span>

                        <div class="payment border-top mt-3 mb-3 border-bottom table-responsive">

                            <table class="table table-borderless">
                                
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="py-2">
                                                <%if(typeof order!=='undefined'){%>
                                                <span class="d-block text-muted">Order Date</span>
                                            <span><%=order.orderDate%></span>
                                                
                                            </div>
                                        </td>

                                        <td>
                                            <div class="py-2">

                                                <span class="d-block text-muted">Order No</span>
                                            <span><%=order.oId%></span>
                                                
                                            </div>
                                        </td>

                                        <td>
                                            <div class="py-2">

                                                <span class="d-block text-muted">Payment</span>
                                            <span>
                                                <%=order.paymentMethod%>
                                                
                                            </div>
                                        </td>

                                        <td>
                                            <div class="py-2">

                                                <span class="d-block text-muted">Shiping Address</span>
                                            <span><%=order.deliveryAddress[0]%></span>
                                                
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>

                            </table>




                            
                        </div>




                            <div class="product border-bottom table-responsive">

                                <table class="table table-borderless">

                                <tbody>
                                    <tr>
                                        <td>Image</td>
                                        <td>
                                            Product name
                                        </td>
                                        <td>Quantity</td>
                                        <td>price</td>
                                    </tr>
                                    <%for(let i=0;i<order.items.length;i++){%>
                                    <tr>
                                        
                                        <td class="product_thumb"><a href="/productdetails?id=<%=order.items[i].productId %>"><img
                                                    src="uploads/productImages/<%=order.items[i].image%>"
                                                    alt="" style="width: 60px;"></a></td>
                                        <td class="product_name"><a href="/productdetails?id=<%=order.items[i].productId %>"><%=order.items[i].name%></a></td>
                                        
                                            <td>
                                        <div class="detail-qty  radius  m-auto">
                                       
                                        <span class="qty-val me-3"
                                            id="qty-<%= order.items[i]._id  %>"><%= order.items[i].quantity %></span>
                                        
                                    </div>
                                        </td>
                                        <td class="product_total">Rs.<%=order.items[i].price%>.00</td>
                                    </tr> 
                                    <%}%>
                                </tbody> 
                                    
                                </table>
                                


                            </div>



                            <div class="row d-flex justify-content-end">

                                <div class="col-md-5">

                                    <table class="table table-borderless">

                                        <tbody class="totals">

                                            <tr>
                                                <td>
                                                    <div class="text-left">

                                                        <span class="text-muted">Subtotal</span>
                                                        
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="text-right">
                                                        <span>Rs.<%=order.billTotal%>.00</span>
                                                    </div>
                                                </td>
                                            </tr>


                                             


                                             <tr class="border-top border-bottom">
                                                <td>
                                                    <div class="text-left">

                                                        <span class="font-weight-bold">Subtotal</span>
                                                        
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="text-right">
                                                        <span class="font-weight-bold">Rs.<%=order.billTotal%>.00</span>
                                                    </div>
                                                </td>
                                            </tr>
                                            
                                        </tbody>
                                        
                                    </table>
                                    
                                </div>
                                

                                <% } %>
                            </div>


                            <p>We will be sending shipping confirmation email when the item shipped successfully!</p>
                            <p class="font-weight-bold mb-0">Thanks for shopping with us!</p>
                            <span>NYRA Team</span>

                            <a href="/myOrder" class="text-white btn btn-primary">Go back to my order</a>

                        

                    </div>


                    <div class="d-flex justify-content-between footer p-3">
                        
                        <span>Need Help? visit our <a href="#"> help center</a></span>
                         <span>12 mar, 2024</span>
                        
                    </div>



        
    </div>
            
        </div>
        
    </div>
    
</div>
<%-include('footer')-%>




















<button id="couponBtn" type="button"
                                                                class="btn btn-md btn-golden"
                                                                onclick="handleCouponClick('<%= couponItem.code %>')">
                                                                <% if (cart && cart.isApplied &&
                                                                    cart.appliedCoupon===couponItem.code) { %>
                                                                    Remove Coupon
                                                                    <% } else { %>
                                                                        Add Coupon
                                                                        <% } %>
                                                            </button>







<strong>Rs.<%=cart.billTotal%>.00</strong> //checkout ordertotal

<span>Rs.<%=order.billTotal%>.00</span> // orderconfirmed subtotal




/*
<div class="container" style="margin-top:50px;margin-bottom: 50px">
    <article class="card">
        <header class="card-header d-flex justify-content-between align-items-center">
            <span>Order details</span>
            <button onclick="downloadInvoice('<%= order._id %>')" class="btn btn-warning">Download Invoice</button>
        </header>            
        <div class="card-body">
            <% if(typeof order!=='undefined'){ %>
            <h6>Order ID:<%=order.oId%></h6>
            <br>
            <h6>Order Date:<%= new Date(order.orderDate).toLocaleDateString()  %></h6>
            
            <article class="card">
                <div class="card-body row">
                    <div class="col"> <strong>Estimated Delivery time:</strong> <br><% 
                        var orderDate = new Date(order.orderDate);
                        orderDate.setDate(orderDate.getDate() + 7);
                        var modifiedDate = orderDate.toLocaleDateString();
                        %> <%=modifiedDate %></div>
                    <div class="col"> <strong>Shipping BY:</strong> <br> BLUEDART, | <i class="fa fa-phone"></i> +1598675986 </div>
                    <div class="col"> <strong>Status:</strong> <br><%=order.status%></div>
                    <div class="col"> <strong>Tracking #:</strong> <br> <%=order.oId%> </div>
                </div>
            </article>
        <% if (order.status === 'Canceled') { %>
            <div class="track">
                <div class="step active"> <span class="icon"> <i class="fa fa-check"></i> </span> <span class="text">Order confirmed</span> </div>
                <div class="step active"> </div>
                <div class="step active"> </div>
                <div class="step active"> <span class="icon"> <i class="fa-regular fa-rectangle-xmark"></i> </span> <span class="text">Cancelled</span> </div>
            </div>
        <% } else if (order.status === 'Returned') { %>
            <div class="track">
                <div class="step active"> <span class="icon"> <i class="fa fa-check"></i> </span> <span class="text">Order confirmed</span> </div>
                <div class="step active"> <span class="icon"> <i class="fa-regular fa-rectangle-xmark"></i> </span> <span class="text">Cancelled</span> </div>
                <div class="step active"> <span class="icon"> <i class="fa fa-reply"></i> </span> <span class="text">Return Initiated</span> </div>
            </div>
        <% } else { %>
            <div class="track">
                <div class="step active"> <span class="icon"> <i class="fa fa-check"></i> </span> <span class="text">Order confirmed</span> </div>
                <div class="step <%= order.status === 'Processing' || order.status === 'Shipped' || order.status === 'Delivered' ? 'active' : '' %>"> <span class="icon"> <i class="fa fa-user"></i> </span> <span class="text"> Picked by courier</span> </div>
                <div class="step <%= order.status === 'Shipped' || order.status === 'Delivered' ? 'active' : '' %>"> <span class="icon"> <i class="fa fa-truck"></i> </span> <span class="text"> Shipped</span> </div>
                <div class="step <%= order.status === 'Delivered' ? 'active' : '' %>"> <span class="icon"> <i class="fa fa-box"></i> </span> <span class="text">Delivered</span> </div>
            </div>
        <% } %>
        
          <br>

            <div>
                
               <h6>Address:</h6>
               <%if(order.status==='Pending'){%>
                    <p class="text-success "><%=order.deliveryAddress.addressType%></p>
                  <p class="card-text"><%=order.deliveryAddress.HouseNo%> ,<%=order.deliveryAddress.Landmark%> ,<%=order.deliveryAddress.Street%>,<%=order.deliveryAddress.city%>,<%=order.deliveryAddress.district%>
                    <%=order.deliveryAddress.Country%>,Pincode-<%=order.deliveryAddress.pincode%></p>
                  <%}else{%>
                    <p class="text-success "><%=order.deliveryAddress.addressType%></p>
                  <p class="card-text"><%=order.deliveryAddress.HouseNo%> ,<%=order.deliveryAddress.Landmark%> ,<%=order.deliveryAddress.Street%>,<%=order.deliveryAddress.city%>,<%=order.deliveryAddress.district%>
                    <%=order.deliveryAddress.Country%>,Pincode-<%=order.deliveryAddress.pincode%></p>
                  <%}%>
            </div>
            <hr>
            <ul class="row">
                <%order.items.forEach((item)=>{%>
                <li class="col-md">
                    <figure class="itemside mb-3">
                        <div class="aside"><img src="/uploads/productImages/<%=item.image%>" class="img-sm border"></div>
                        <figcaption class="info align-self-center">
                            <p class="title"><%=item.name %> <br> Qty:<%=item.quantity %></p> <span class="text-muted">Rs.<%=item.price %>.00 </span>
                            <%if(order.status === 'Delivered' && order.items.reviewed ){%>
                                <div class="container" id="reviewrating" style=" background-color: white;
                                padding: 20px;
                                border-radius: 8px;
                                box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
                                text-align: center;
                                width: 400px;">
                                    <h5 class="bold">Rate and support us</h5>
                                    <div class="rating">
                                        <span id="rating">0</span>/5
                                    </div>
                                    <div class="stars" style="font-size: 30px;
                                    margin: 10px 0;" id="stars">
                                        <span class="star" style="cursor: pointer;
                                        margin: 0 5px;" data-value="1">★</span>
                                        <span class="star" style="cursor: pointer;
                                        margin: 0 5px;" data-value="2">★</span>
                                        <span class="star" style="cursor: pointer;
                                        margin: 0 5px;" data-value="3">★</span>
                                        <span class="star" style="cursor: pointer;
                                        margin: 0 5px;" data-value="4">★</span>
                                        <span class="star" style="cursor: pointer;
                                        margin: 0 5px;" data-value="5">★</span>
                                    </div>
                                    <p>Share your review:</p>
                                    <input id="review" class="form-control"
                                              placeholder="Write your review here">
                                </input>
                                <br>
                                    <div class="reviews" id="reviews">
                                    </div>
                                </div>
                                <%}%>
                                   
                        </figcaption>
                    </figure>
                </li>
           <%})%>
            </ul>
            
            <hr>
            <a href="/userProfile" class="btn btn-warning" data-abc="true"> <i class="fa fa-chevron-left"></i> Back to Orders</a>
            <% if(order.status == 'Canceled'){ %>
                <button class="btn btn-warning" onclick="cancelOrder('<%= order.oId %>')" data-abc="true" hidden>
                    <i class="fa fa-chevron-left"></i> Cancel Order
                </button>
            <% } else if (order.status == 'Delivered') { %>
                <button class="btn btn-warning" onclick="returnOrder('<%= order.oId %>')" data-abc="true">
                    <i class="fa fa-chevron-left"></i> Return Order
                </button>
            <% } else if (order.status != 'Returned') { %>
                <button class="btn btn-warning" onclick="cancelOrder('<%= order.oId %>')" data-abc="true">
                    <i class="fa fa-chevron-left"></i> Cancel Order
                </button>
            <% } %>
            <br><br>

            <%if(!order.payId){%>
                <p class="text-danger">Payment : Pending</p>
                <form action="" method="post">
                <label class="radio-default d-flex">
                        </label>
                       <input type="hidden" id="id" value="<%=order.oId%>">
                        <div class="order_button pt-3">
                            <button class="btn btn-md btn-black-default-hover" onclick="retryPayment()" id="proceedButton" type="button">Retry payment</button>
                        </div>
                        </form>
                        <br>
            <%}%> 
            
    </article>
</div>

*/